@page "/report"

@using RPS.Core.Models
@using RPS.Web.Server.Components.Dashboard
@using RPS.Web.Server.Components.Backlog
@inject NavigationManager NavigationManager

<div class="dashboard">

    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">

        <div class="col-md order-md-first text-center text-md-left">
            <h2>Report</h2>
        </div>

    </div>

</div>


<link href="css/dashboard.css" rel="stylesheet" />

@code {

}
